{% extends 'layout.html' %}

{% block title %}About{% endblock %}
{% block description %}Some details on how this site is made{% endblock %}

{% block content %}
    <p>This site is a <a href="https://flask.palletsprojects.com/">Flask</a> application using <a href="https://jinja.palletsprojects.com">Jinja</a> templates running on <a
            href="https://fly.io">fly.io</a>.</p>

    <p>You can find the source code at <a href="https://github.com/lostmapper/tools.lostmapper.com">https://github.com/lostmapper/tools.lostmapper.com</a>
    </p>
{% endblock %}
