{% extends 'layout.html' %}

{% block title %}Merge GPX Tracks{% endblock %}

{% block content %}
<h1>Merge GPX Tracks</h1>

<p class="lead">Merge tracks from multiple GPX files into multiple tracks in just one GPX file</p>

<form action="/merge-gpx-tracks" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="files">GPX Files</label>
        <input type="file" id="files" name="files" multiple accept=".gpx" required class="form-control"/>
    </div>

    <button type="submit" class="btn btn-primary">Merge GPX Tracks</button>
</form>
{% endblock %}
